.section-title {
    text-align: center;
    font-size:clamp(2.5rem,5vw,3.5rem);
    color: var(--bege);
    margin-bottom: var(--space-x1);
}


.cardapio {
    margin-top: 4rem;
}

.cardapio-cards {
    display: flex;
    align-items: stretch;
    gap: var(--space-lg);

}

.cardapio-card {
    flex: 1;
    overflow: hidden;
    background-color: var(--marrom-escuro);
    border-radius: var(--radius-lg);
    display: flex;
    flex-direction: column;
    transition: transform var(--transition),
    box-shadow var(--transition);
}

.cardapio-card:hover {
    transform: translateY(-10px);
    box-shadow: var(--shadow-md);
}

.cardapio-card-img {
    aspect-ratio: 4/5;
    overflow: hidden;
}

.cardapio-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .4s ease;
}

.cardapio-card:hover img {
    transform: scale(1.08);
}

.cardapio-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: var(--space-md);
}

.cardapio-card-text h3 {
    font-size: 1.5rem;
    margin-bottom: .7rem;
    color: var(--bege);
}

.cardapio-card-text p {
    line-height: 1.6;
    color: var(--branco);
    margin-bottom: auto;
}

.cardapio-card-text span {
    align-self: center;
    margin-top: var(--space-md);
    padding: .7rem 1.5rem;
    background-color: var(--marrom-claro);
    border-radius: 999px;
    font-weight: 700;
    color: var(--bege);
    transition: background var(--transition);
}

.cardapio-card-text span:hover {
    background-color: #8d6e6397;
}

footer {
    margin-top: 10rem;
    padding: 2rem;
    text-align: center;
    background-color: var(--marrom-escuro);
    color: var(--branco);
}