.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}

.about-left h1 {
    color: var(--bege);
    font-size: 3rem;
}

.about-left p {
    color: var(--branco);
    font-size: 2rem;
}

.about-right img {
    border-radius: 4rem;
}